::ng-deep .mat-menu-item {
  line-height: 36px !important;
  height: 36px !important;
}

::ng-deep .mat-toolbar-single-row {
  padding: 0px !important;
}

.layout-container {
  height: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  padding: 0px 10px 0px 10px;
}

.icon-size {
  font-size: 35px;
}

.paddingright10{
  padding-right: 10px;
}
